# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folder
venv/

# Ignore environment variables file
.env

# VSCode settings
.vscode/

# Ignore json files
data/
audio/

TODO.txt

bot_icon.ico
run_bot.bat